name: Generate Snake Animation

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */12 * * *"

jobs:
  generate:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          persist-credentials: true

      - name: Generate snake
        uses: Platane/snk@v3
        with:
          github_user_name: Sahilllz
          outputs: |
            github-snake.svg
            github-snake-dark.svg?palette=github-dark

      - name: Commit and Push
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add *.svg
          git commit -m "Generate snake animation" || echo "No changes to commit"
          git push origin main
